.container {
  /* background-color: #60b3b387;
  height: 510px;
  width: 510px;
   */

}
.container img {
  height: 473px;
  width: 412px;
  
}
.container p{
  font-family: "Inter";
  font-size: 20px;
  /* background-color: blue; */
}
 



